<appSettings>
  <!-- File mau huong dan: Sao chep thanh tap tin AppSettingsSecrets.config va dien thong tin tai khoan cua ban -->
  <add key="CloudinaryCloudName" value="your_cloud_name_here" />
  <add key="CloudinaryApiKey" value="your_api_key_here" />
  <add key="CloudinaryApiSecret" value="your_api_secret_here" />
</appSettings>
